
@font-face {
    font-family: "MyFont";
    src: url("Pixellari.ttf");
}

* {
    font-family: "MyFont", sans-serif;
}

:root{
    --color--white: #FCFAFA;
    --color--black: #3B3B3B;

    --color--dark-1: #1e1e1e;
    --color--dark-2: #2c2c2c;

    --color-gray-1: #ECCACB;
    --color-gray-2: #d9d9d9;
    --color-gray-3: #b3b3b3;
    --color-gray-4: #ff0000;

    --border: 1px solid var(--color-gray-2);
    --border-radius: 8px;

    --input-height: 40px;
    --transition-duration: 0.2s;
}

body{
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding: 100px 30px;
    background-color: var(--color-gray-3);

}

input, label, button{
    transition-duration: var(--transition-duration);
}

img{
    width: 25px;
}

:focus-visible{
    outline: 2px dashed var(--color--black);
    outline-offset: 4px;
    transition-duration: 0s !important;
}

.todo{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
    max-width: 404px;
    min-height: 429px;
    padding: 24px;
    background-color: var(--color--white);
    border: var(--border);
    border-radius: var(--border-radius);
}

.todo__title{
    text-align: center;
    font-size: 30px;
    font-weight: 550;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.todo__form{
    display: flex;
    column-gap: 16px;
}

.todo__field{
    width: 100%;
}

.todo__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
}

.todo__delete-button, .todo__filter-button, .todo__sort-button{
    padding: 7px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.todo__delete-button:hover{
     background-color: #c9c1c8;
}

.todo__filter-button:hover{
     background-color: #c9c1c8;
}

.todo__sort-button:hover{
      background-color: #c9c1c8;
}

.todo__delete-button:not(.is-visible){
    opacity: 0;
    visibility: hidden;
}

.todo__list:empty, .todo__empty-message:empty{
    display: none;
}

.todo__list{
    --todoListRowGap: 8px;

    display: grid;
    row-gap: var(--todoListRowGap);
}

.todo__empty-message{
    text-align: center;
    color: #3B3B3B;
}

.button{
    display: inline-flex;
    align-items: center;
    height: var(--input-height);
    cursor: pointer;
    padding: 12px;
    border-radius: 5px;
    background-color: transparent;
}

.button:hover{
    background-color: #c9c1c8;
}

.button:active{
    scale: 1.05;
}

.field{
    position: relative;
}

.field:has(.field__input:not(:placeholder-shown)) .field__label{
    scale: 0.7;
    translate: -1.75em -2.6em;
    color:#000;
}

.field__label{
    position: absolute;
    top: 50%;
    left: 17px;
    color: var(--color-gray-3);
    translate: 0 -50%;
}

